
# Advisory mission for the Boston municipal authorities


![title](assets/boston_logo.png)

Welcome to the Decision Science exercise of your data certification exam!

Here are a few words to describe how the `decision_science` directory is organised:

In [1]:
# Start by running this cell to see the architecture of the directory
!tree

.
‚îú‚îÄ‚îÄ README.md
‚îú‚îÄ‚îÄ boston_crimes.ipynb
‚îú‚îÄ‚îÄ data
‚îú‚îÄ‚îÄ data.py
‚îú‚îÄ‚îÄ db
‚îî‚îÄ‚îÄ tests

3 directories, 3 files

- the `boston_crimes.ipynb` notebook that you currently have under your eyes is the main document. You will find all the instructions here and except when it is explicitly specified, you should provide all your answers in this notebook;


- the `data` and `db` folders will be filled-in throughout the exercise respectively with `.csv` datasets and a `.sqlite` file, for you to run all your analyses; 


- you will not have to interact with the `assets` folder for this exercise;


- the `tests` folder will contain all the `.pickle` files that will be saved throughout the exercise with your key findings. Please run all the "Save your results" cells when completing the exercise!

‚ö†Ô∏è **Important remark** before you dive into the exercise. This notebook is quite long and it is easy to get lost in it: take full advantage of the collapsible headers and of the table of content. If you have not yet activated these Jupyter Notebook extensions, you may consider doing so now!

# Imports

You can use this section to run your imports in a centralised manner throughout the exercise.

In [2]:
# Load the nbresult package to be able to save your results 
from nbresult import ChallengeResult

In [3]:
# Useful import for data collection
import sqlite3

In [4]:
# Useful imports for data manipulation and analysis
import numpy as np
import pandas as pd

In [5]:
# Useful imports for data visualisation
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Useful imports to estimate regression models
import statsmodels.formula.api as smf

# 1. Analysis for the mayor's team

During the last municipal campaign in Boston, criminality has been a major topic of debates. As citizens have expressed strong expectations from her on that front, the newly-elected mayor of Boston is looking for data-based insights on criminality in the Massachussetts capital. She has mandated your economics and urbanism consulting firm, *The Locomotive*, for this study.

## 1.1 Load the database

Download the `boston_crimes.sqlite` database from this [URL](https://wagon-public-datasets.s3.amazonaws.com/certification_france_2021_q2/boston_crimes.sqlite) and store it inside the `db` folder.

In [7]:
# You may directly run this cell to do so
!curl https://wagon-public-datasets.s3.amazonaws.com/certification_france_2021_q2/boston_crimes.sqlite > db/boston_crimes.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 19.1M  100 19.1M    0     0  13.9M      0  0:00:01  0:00:01 --:--:-- 13.9M

## 1.2 Familiarize yourself with the database

This section aims at giving you a first overview of the database. 

As you will see, it consists in three tables: 

- the `incident_reports` table has been provided by the Police Department of Boston. Each observation corresponds to a criminal incident that has required an intervention by the police in the municipality of Boston;  



- the `districts` table has been provided by the Urbanism Department of Boston. It gathers geographical information about the various police districts of Boston;  



- and the `indicators` table has been shared by the Economics Department of Boston, which keeps track of various indicators of the social and economic activity of Boston neighborhoods. Each observation corresponds to a police district.

More information about the different fields of these three tables can be found in the dedicated `README.md` file

### Connect to the database

**üîç Using your preferred SQL client, connect to the database and browse through it as you wish to get acquainted with the data.**

### Draw a schema of the database

**üìù Draw the database schema thanks to the [schema editor](https://kitt.lewagon.com/db) on Kitt.**

**üìù Download the schema and save it as `boston_crimes.xml` in the `db` folder.**

## 1.3 Extract the relevant dataset

Now that you have a good overview of the database, you can kick off the work! You will start with an SQL query to gather the relevant information.

### Build the dataset

We want to investigate the influence of the socio-economic characteristics of Boston's different districts on the number of crime reports and incidents. To do so, we need to extract the relevant dataset. **Each row should correspond to one of the 12 police districts of Boston** (as listed in the `districts` table of the database).

To identify the district, we will need **the following columns**: 

- the `CODE` of the police district (1 letter and 1 or 2 numbers);
- the full `NAME` of the police district.

Additionally, you will need to **create an additional field** (which will serve as dependent variable in future regressions): `NB_INCIDENTS`, i.e. the total number of incidents reported in the police district over the period covered by the data at hand (2015-2019).

Eventually, we want the dataset to **include several socio-economic indicators**:

- `MEDIAN_AGE`;
- `TOTAL_POP`;
- `PERC_OF_30_34`;
- `PERC_MARRIED_COUPLE_FAMILY`;
- `PER_CAPITA_INCOME`;
- `PERC_OTHER_STATE_OR_ABROAD`;
- `PERC_LESS_THAN_HIGH_SCHOOL`;
- `PERC_COLLEGE_GRADUATES`. 

Overall, your dataset should comprise 12 rows and 11 columns.

Eventually, note that **the resulting DataFrame must be ordered by the number of incidents**, from the largest to the smallest total.

**üìù Write the SQL query you need to fetch the data. Save it as a `str` in the `query` variable.**

In [90]:
query = """

"""

**üìù Store the output of the query in a `DataFrame` named `crimes_df`. Display the 5 first rows, as well as the shape of the dataset.**

### Save your results

You can run the following cell to save your results:

In [118]:
ChallengeResult('sql', query=query, data=crimes_df).write()

NameError: name 'query' is not defined

## 1.4 Linear regression - The socio-economic determinants of criminality

As mentioned above, we want to investigate the impact of the socio-economic characteristics of the different Boston police districts on the number of incidents that are reported in these areas. 
- We are going to use the number of incidents as dependent variable 
- our regressors will be the various socio-economic indicators extracted from the database.

### 1.4.1 Start from a fresh dataset

To make sure that you are using the right data, you can load a fresh dataset from this [URL](https://wagon-public-datasets.s3.amazonaws.com/certification_france_2021_q2/regression.csv).

**üìù Load the data into a DataFrame named `data`**

In [8]:
data = pd.read_csv("https://wagon-public-datasets.s3.amazonaws.com/certification_france_2021_q2/boston_crimes_regression.csv")

In [9]:
data.head()

,MEDIAN_AGE,TOTAL_POP,PERC_OF_30_34,PERC_MARRIED_COUPLE_FAMILY,PER_CAPITA_INCOME,PERC_OTHER_STATE_OR_ABROAD,PERC_LESS_THAN_HIGH_SCHOOL,PERC_COLLEGE_GRADUATES,CODE,NB_INCIDENTS,NAME
0,30.8,55297,52.8,26.4,41261,8.6,6.7,10.5,D14,13788,Brighton
1,35.7,19890,28.2,36.4,75339,3.4,7.9,8.2,A15,4765,Charlestown
2,33.4,126909,28.2,26.6,29767,2.4,18.0,17.1,C11,32875,Dorchester
3,33.5,18306,32.5,35.8,80057,14.8,15.4,6.9,A1,26260,Downtown
4,30.6,47263,31.1,30.4,31473,3.5,27.2,11.5,A7,9691,East Boston

### 1.4.2 Run the regression and output its summary

Thanks to the Statsmodels Formula API, we will run the regression described below. 

The dependent variable (or target variable) should be **the total number of incidents** reported in each police district.

We will focus on the following regressors: 

- the **median age** in the district, whose effect is difficult to anticipate on the number of crimes;
 
 
- the **percentage of 30-34 years old** in the district, whose effect is also unclear a priori;
 
 
- the **share of families with a married couple** among all households, which could be anticipated to have a negative effect on criminality (more attention to safety among residents...);
 
 
- the **percentage of residents having moved from abroad or from another US state over the last year**, mobility being often associated with social marginalisation and possibly with a higher risk of resorting to illegal activities;
 
 
- the **percentage of residents having stopped their studies before getting a high school degree**. Economic models would suggest that due to the more narrow job opportunities to which this group has access, the incentive is stronger to resort to illicit activities;
 
 
- the **percentage of college graduates** in the district, which we would expect to have an opposite effect.
 
**üìù Based on these indications, estimate the linear regression model and output its summary in this section of the notebook. Store the estimated model inside a `model` variable.**

In [10]:
model = smf.ols('NB_INCIDENTS ~ MEDIAN_AGE + PERC_OF_30_34 + PERC_MARRIED_COUPLE_FAMILY + PERC_OTHER_STATE_OR_ABROAD + PERC_LESS_THAN_HIGH_SCHOOL + PERC_COLLEGE_GRADUATES', data=data).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           NB_INCIDENTS   R-squared:                       0.899
Model:                            OLS   Adj. R-squared:                  0.777
Method:                 Least Squares   F-statistic:                     7.391
Date:                Tue, 29 Jun 2021   Prob (F-statistic):             0.0222
Time:                        10:49:59   Log-Likelihood:                -114.59
No. Observations:                  12   AIC:                             243.2
Df Residuals:                       5   BIC:                             246.6
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                   1.358e+04   6.16e+04      0.220      0.834   -1.45e+05    1.72e+05
MEDIAN_AGE                  2252.7344   1237.522      1.820      0.128    -928.416    5433.885
PERC_OF_30_34               -532.9973    468.940     -1.137      0.307   -1738.447     672.452
PERC_MARRIED_COUPLE_FAMILY -2115.1839    408.344     -5.180      0.004   -3164.866   -1065.502
PERC_OTHER_STATE_OR_ABROAD  1787.6939    532.432      3.358      0.020     419.034    3156.354
PERC_LESS_THAN_HIGH_SCHOOL   112.7375    493.977      0.228      0.829   -1157.072    1382.547
PERC_COLLEGE_GRADUATES        19.4699    458.775      0.042      0.968   -1159.850    1198.790
==============================================================================
Omnibus:                        6.933   Durbin-Watson:                   2.255
Prob(Omnibus):                  0.031   Jarque-Bera (JB):                3.155
Skew:                           1.148   Prob(JB):                        0.206
Kurtosis:                       4.020   Cond. No.                     2.42e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.42e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/Users/dariarousset/miniforge3/lib/python3.9/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

### Save your results

You can run the following cell to save your results:

In [11]:
ChallengeResult(
    'linear_regression_model',
    data=data,
    model=model
).write()

### 1.4.3 Statistical inference questions ü§Ø

You will now be asked a series of statistical inference and methodological questions about the regression model estimated above. Don't worry if results do not perfectly fit the "predictions" that we made earlier about the impact of each regressor: the goal was to form an *a priori* hypothesis, which is validated or invalidated through this empirical analysis.

#### Questions on the results

**‚ùì Is the median age associated with a positive (increasing the number of crimes) or a negative (decreasing the target variable) effect on the number of crime incidents? Simply write your answer as a string below**

In [18]:
answer_median_age = '''
median age associated with a positive effect on the number of crime incidents
'''

**‚ùì What is the t-statistic associated with the median age regressor? How is it computed?**

üí° Hint: We are looking at a ratio

In [21]:
answer_t_statistic = '''
1.820
'''

**üìù Recompute approximately the t-statistic based on the regression summary.**

As it is a ratio $t = \frac{numerator}{denominator}$:
- Store the numerator into a `numerator` variable
- Store the denominator into a `denominator` variable
- Store the t-statistic into a `t_median_age` variable

In [12]:
numerator = 2252.7344
denominator = 1237.522
t_median_age = numerator/denominator
t_median_age

1.8203590724043692

**‚ùì What is the p-value associated with the median age regressor? Store it in the `pvalue_median_age` variable (you may directly copy-paste it from the regression summary).**

In [13]:
pvalue_median_age = 0.128

**‚ùì What does this p-value mean for the median age? Is its effect statistically significant at the 95% confidence level? At the 90% confidence level? Simply formulate your answer in the cell below.**

In [20]:
answer_p_value = """
p value is higher than 0.05 for 95 confidence level and than 0.1 for 90 confidence level, 
therefore this effect is not significant for any of two confidence levels, and we cannot reject the null
hypothesis that there is no meaningful relationship between two measured phenomena.
"""

**‚ùì What are the two regressors whose effect is statistically significant at the 95% confidence level in this regression model? Store the name of the variables as a list of strings in the `significant_regressors` variable.**

In [14]:
significant_regressors = ["PERC_MARRIED_COUPLE_FAMILY", "PERC_OTHER_STATE_OR_ABROAD"]

**‚ùì Holding all other regressors constant, by how much does the total number of incidents increase or decrease when the share of families with a married couple increases by 1 percentage point in the district? Please formulate a full sentence with statistical rigor!**

In [15]:
answer_how_much_increase = """
Holding all other regressors constant, the total number of incidents 
decrease by 2115.1839 when the share of families with a married couple 
increases by 1 percentage point in the district.
"""

#### Limits of this regression model

You had asked the intern on the team to estimate a linear regression model so as to investigate the socio-economic determinants of crime in Boston. The results above are those that he presented. In the email he sent to you, he added:

> *You will probably notice the extremely high R-squared score of this model: I think we have an excellent fit and the results are solid* üòÑ

But you have very strong doubts about this regression and you think it is a perfect occasion to give some very important advice to your intern...

**‚ùì  What is the main limitation of this (clearly spurious) regression according to you? This observation explains why we are getting a very high R-squared and large standard errors. Please provide your answer in the following Markdown cell.**

In [16]:
answer_limitations = """
there is strong multicollinearity in features presented in our model
"""

### Save your results

You can run the following cell to save your results:

In [22]:
import json
answers_inference = {"MEDIAN_AGE": answer_median_age,
                    "T_STAT":answer_t_statistic,
                     "P_VALUE": answer_p_value,
                     "INCREASE": answer_how_much_increase,
                     "LIMITATIONS": answer_limitations}

with open("tests/answers_inference.json", "w", encoding="utf-8") as f:
    json.dump(answers_inference, f, ensure_ascii=False, indent=4)

ChallengeResult(
    'linear_regression_analysis',
    model=model,
    numerator=numerator,
    denominator=denominator,
    t=t_median_age,
    pvalue=pvalue_median_age,
    regressors=significant_regressors
).write()

# 2. Analysis for the police department

The head of the Police Department of Boston, who read your report for the Mayor's team, was extremely interested in the results. He contacted your consulting firm for an additional presentation, that would focus on the nature of crimes that take place in Boston, the potential time trends that you could identify and/or the heterogeneity of the impact of criminality on the different police districts.

## 2.1 Start with a fresh dataset

You will start from a fresh dataset, that corresponds more or less to the `incident_reports` table of the database.

In [23]:
# Run this cell to download the datasets in the data directory
!curl https://wagon-public-datasets.s3.amazonaws.com/certification_france_2021_q2/incident_reports.csv > data/incident_reports.csv   
!curl https://wagon-public-datasets.s3.amazonaws.com/certification_france_2021_q2/districts.csv > data/districts.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 19.1M  100 19.1M    0     0  2179k      0  0:00:08  0:00:08 --:--:-- 3351k:04 2156k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   498  100   498    0     0   2490      0 --:--:-- --:--:-- --:--:--     0--:--:--  2490

In [24]:
# Load the dataset
from data import load_data_viz_data

data = load_data_viz_data()
data[['LAT','LONG']] = data[['LAT','LONG']].astype('float64')

print("Shape of the DataFrame:", data.shape)

data.head()

Shape of the DataFrame: (237221, 9)

,INCIDENT_NUMBER,OFFENSE_CODE_GROUP,SHOOTING,OCCURRED_ON_DATE,LAT,LONG,NAME,LAT_POLICE_STATION,LONG_POLICE_STATION
0,I192068249,Other,0,2015-08-28 10:20:00,42.330119,-71.084251,Roxbury,42.328894,-71.085359
1,I182074094,Violence and harassment,0,2015-09-14 09:31:00,42.315142,-71.067047,Roxbury,42.328894,-71.085359
2,I182054888,Violence and harassment,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
3,I182054888,Other,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359
4,I182054888,Other,0,2015-07-12 15:37:00,42.312243,-71.075499,Roxbury,42.328894,-71.085359

## 2.1 Further data manipulations

In this section, we are going to answer two specific questions that the head of the Police Department of Boston asked your team, about the characteristics of the incidents that occur in the various districts of the municipality.

### 2.1.1 Most represented type of incident per district

First, the head of the Police Department of Boston wants to know what incident category is most often found in each district. 

**üìù Construct a DataFrame with**
- **one row per police district, designated by its full name**
- **one text column that indicates the name of the most common category of incident in the district over the whole sample period.**

üí° Hint: you may need to first define a custom aggregation function.

In [40]:
data["NAME"].value_counts()

Roxbury          38877
Dorchester       32875
South End        31258
Mattapan         28331
Downtown         26260
South Boston     16617
Brighton         13788
Jamaica Plain    12802
Hyde Park        12551
East Boston       9691
West Roxbury      9406
Charlestown       4765
Name: NAME, dtype: int64

In [63]:
data.NAME.unique()

array(['Roxbury', 'Dorchester', 'Downtown', 'Hyde Park', 'South End',
       'Mattapan', 'Brighton', 'East Boston', 'West Roxbury',
       'South Boston', 'Jamaica Plain', 'Charlestown'], dtype=object)

In [86]:
roxbury = data[data["NAME"] == "Roxbury"]

In [73]:
roxbury_ = roxbury.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])

In [74]:
roxbury_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Drugs and disorderly conduct     3040
Disputes                         3450
Other                            3571
Fraud and law violations         4820
Violence and harassment          5495
Police investigation procedure   8030
Larceny and vandalism           10471

In [75]:
dorchester = data[data["NAME"] == "Dorchester"]
dorchester_ = dorchester.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
dorchester_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Drugs and disorderly conduct     2587
Other                            2792
Disputes                         3066
Fraud and law violations         3705
Violence and harassment          4067
Police investigation procedure   7428
Larceny and vandalism            9230

In [76]:
south_end = data[data["NAME"] == "South End"]
south_end_ = south_end.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
south_end_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          759
Other                            2090
Drugs and disorderly conduct     2191
Fraud and law violations         3195
Violence and harassment          3471
Police investigation procedure   5540
Larceny and vandalism           14012

In [77]:
mattapan = data[data["NAME"] == "Mattapan"]
mattapan_ = mattapan.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
mattapan_.sort_values(by='count') #Police investigation procedure

                                count
OFFENSE_CODE_GROUP
Drugs and disorderly conduct     1897
Other                            2381
Fraud and law violations         2971
Disputes                         3573
Violence and harassment          3910
Larceny and vandalism            6598
Police investigation procedure   7001

In [78]:
downtown = data[data["NAME"] == "Downtown"]
downtown_ = downtown.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
downtown_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          254
Other                            2034
Drugs and disorderly conduct     2510
Fraud and law violations         3245
Violence and harassment          3497
Police investigation procedure   5464
Larceny and vandalism            9256

In [79]:
south_boston = data[data["NAME"] == "South Boston"]
south_boston_ = south_boston.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
south_boston_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          596
Other                            1327
Fraud and law violations         1654
Drugs and disorderly conduct     1867
Violence and harassment          2013
Police investigation procedure   3523
Larceny and vandalism            5637

In [80]:
brighton = data[data["NAME"] == "Brighton"]
brighton_ = brighton.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
brighton_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          563
Drugs and disorderly conduct      809
Other                             925
Violence and harassment          1627
Fraud and law violations         1807
Police investigation procedure   2783
Larceny and vandalism            5274

In [81]:
jamaica = data[data["NAME"] == "Jamaica Plain"]
jamaica_ = jamaica.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
jamaica_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          619
Other                            1096
Drugs and disorderly conduct     1136
Fraud and law violations         1358
Violence and harassment          1433
Police investigation procedure   2614
Larceny and vandalism            4546

In [82]:
hyde_park = data[data["NAME"] == "Hyde Park"]
hyde_park_ = hyde_park.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
hyde_park_.sort_values(by='count') # Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Drugs and disorderly conduct      853
Other                            1082
Disputes                         1147
Fraud and law violations         1395
Violence and harassment          1559
Police investigation procedure   2998
Larceny and vandalism            3517

In [83]:
east_boston = data[data["NAME"] == "East Boston"]
east_boston_ = east_boston.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
east_boston_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          597
Other                             883
Drugs and disorderly conduct      995
Fraud and law violations         1055
Violence and harassment          1309
Police investigation procedure   1941
Larceny and vandalism            2911

In [84]:
west_roxbury = data[data["NAME"] == "West Roxbury"]
west_roxbury_ = west_roxbury.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
west_roxbury_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          597
Drugs and disorderly conduct      721
Other                             880
Violence and harassment          1089
Fraud and law violations         1168
Police investigation procedure   2036
Larceny and vandalism            2915

In [85]:
charlestown = data[data["NAME"] == "Charlestown"]
charlestown_ = charlestown.groupby('OFFENSE_CODE_GROUP')['INCIDENT_NUMBER'].agg(['count'])
charlestown_.sort_values(by='count') #Larceny and vandalism

                                count
OFFENSE_CODE_GROUP
Disputes                          200
Other                             338
Drugs and disorderly conduct      416
Fraud and law violations          428
Violence and harassment           550
Police investigation procedure   1162
Larceny and vandalism            1671

In [64]:
d_ = {'police_district': ['Roxbury', 'Dorchester', 'Downtown', 'Hyde Park', 'South End',
                          'Mattapan', 'Brighton', 'East Boston', 'West Roxbury',
                          'South Boston', 'Jamaica Plain', 'Charlestown'], 
      'common_incident': ['Larceny and vandalism', 'Larceny and vandalism', 'Larceny and vandalism',
                         'Larceny and vandalism', 'Larceny and vandalism', 'Police investigation procedure',
                         'Larceny and vandalism', 'Larceny and vandalism', 'Larceny and vandalism', 
                         'Larceny and vandalism', 'Larceny and vandalism', 'Larceny and vandalism']}

In [66]:
common_crimes = pd.DataFrame(data=d_)
common_crimes.head()

  police_district        common_incident
0         Roxbury  Larceny and vandalism
1      Dorchester  Larceny and vandalism
2        Downtown  Larceny and vandalism
3       Hyde Park  Larceny and vandalism
4       South End  Larceny and vandalism

**‚ùì Can you tell what is the second most common offense int the Brighton district?**

In [56]:
second_most_common_offence = "Police investigation procedure"

### Average distance to the police station per district

Second, based on the Haversine distance function defined below, the head of the Police Department would like to know, for each district, **the average distance between the location of the incident and the police station**. 

**üìù Construct a DataFrame with one row per police district, designated by its full name, and one column that displays this average Haversine distance.**

In [67]:
# Haversine distance function
from math import radians, sin, cos, asin, sqrt

def haversine_distance(lon1, lat1, lon2, lat2):
    """
    Compute distance (km) between two pairs of (lat, lng) coordinates
    See - (https://en.wikipedia.org/wiki/Haversine_formula)
    """
    
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    
    return 2 * 6371 * asin(sqrt(a))

In [105]:
data.groupby(['NAME', 'LAT_POLICE_STATION', 'LONG_POLICE_STATION']).count()

,,,INCIDENT_NUMBER,OFFENSE_CODE_GROUP,SHOOTING,OCCURRED_ON_DATE,LAT,LONG
NAME,LAT_POLICE_STATION,LONG_POLICE_STATION,,,,,,
Brighton,42.349300,-71.150600,13788,13788,13788,13788,13788,13788
Charlestown,42.361800,-71.060300,4765,4765,4765,4765,4765,4765
Dorchester,42.298068,-71.059141,32875,32875,32875,32875,32875,32875
Downtown,42.361800,-71.060300,26260,26260,26260,26260,26260,26260
East Boston,42.371200,-71.038700,9691,9691,9691,9691,9691,9691
Hyde Park,42.256476,-71.124279,12551,12551,12551,12551,12551,12551
Jamaica Plain,42.309700,-71.104600,12802,12802,12802,12802,12802,12802
Mattapan,42.284800,-71.091600,28331,28331,28331,28331,28331,28331
Roxbury,42.328894,-71.085359,38877,38877,38877,38877,38877,38877
South Boston,42.341200,-71.054900,16617,16617,16617,16617,16617,16617
South End,42.339629,-71.069161,31258,31258,31258,31258,31258,31258
West Roxbury,42.286800,-71.148400,9406,9406,9406,9406,9406,9406

In [91]:
print(roxbury.LONG.mean())
print(roxbury.LAT.mean())

-71.07186443640971
42.31396686444427

In [109]:
rox_distance = haversine_distance(roxbury.LONG.mean(), roxbury.LAT.mean(), -71.085359 , 42.328894)
rox_distance

1.9964735531840303

In [111]:
dor_distance = haversine_distance(dorchester.LONG.mean(), dorchester.LAT.mean(), -71.059141 , 42.298068)
bright_distance = haversine_distance(brighton.LONG.mean(), brighton.LAT.mean(), -71.150600 , 42.349300)
charl_distance = haversine_distance(charlestown.LONG.mean(), charlestown.LAT.mean(), -71.060300 , 42.361800)
down_distance = haversine_distance(downtown.LONG.mean(), downtown.LAT.mean(), -71.060300, 42.361800)
east_bost_distance = haversine_distance(east_boston.LONG.mean(), east_boston.LAT.mean(), -71.038700, 42.371200)
hyde_distance = haversine_distance(hyde_park.LONG.mean(), hyde_park.LAT.mean(), -71.124279, 42.256476)
jamaica_distance = haversine_distance(jamaica.LONG.mean(), jamaica.LAT.mean(), -71.104600, 42.309700)
matt_distance = haversine_distance(mattapan.LONG.mean(), mattapan.LAT.mean(), -71.091600, 42.284800)
so_bost_distance = haversine_distance(south_boston.LONG.mean(), south_boston.LAT.mean(), -71.054900, 42.341200)
so_end_distance = haversine_distance(south_end.LONG.mean(), south_end.LAT.mean(), -71.069161, 42.339629)
west_rox_distance = haversine_distance(west_roxbury.LONG.mean(), west_roxbury.LAT.mean(), -71.148400, 42.286800)

In [112]:
distances_ = {'police_district': ['Roxbury', 'Dorchester', 'Downtown', 'Hyde Park', 'South End',
                          'Mattapan', 'Brighton', 'East Boston', 'West Roxbury',
                          'South Boston', 'Jamaica Plain', 'Charlestown'], 
              'avg_distance': [rox_distance, dor_distance, down_distance, hyde_distance, so_end_distance, 
                               matt_distance, bright_distance, east_bost_distance, west_rox_distance,
                               so_bost_distance, jamaica_distance, charl_distance]}

In [114]:
distances_df = pd.DataFrame(data=distances_)
distances_df

   police_district  avg_distance
0          Roxbury      1.996474
1       Dorchester      1.099017
2         Downtown      5.210185
3        Hyde Park      1.000296
4        South End      0.616258
5         Mattapan      0.919067
6         Brighton      2.705281
7      East Boston      4.031335
8     West Roxbury     15.241694
9     South Boston     27.344811
10   Jamaica Plain      0.822935
11     Charlestown     49.453889

**‚ùì Can you tell what is the average distance between the police station and the offenses in the Brighton district?**

In [116]:
average_distance_km = 2.705281

In [117]:
result = ChallengeResult('manipulation',
                         second_most_common_offence=second_most_common_offence,
                         average_distance_km=average_distance_km)
result.write()

# 3. Short presentation (REQUIRED TO VALIDATE THE CERTIFICATION)
üö®üö®üö®üö®üö®üö®

Using the latest dataset that you loaded, your mission is now to prepare 5 slides (including a title slide) that you would present to the head of the Police Department. You may or may not, as you prefer, include the output of the two "Further data manipulations" tasks in your presentation.

‚ö†Ô∏è  You can use any presentation editor of your choice, but **the slides must be shared either in HTML or in PDF format and saved in the current directory**

Before you get started, here are four small pieces of advice:

- to prepare your data visualisations, do not hesitate to create a separate, blank notebook; 


- pay particular attention to the readability and the clarity of your legends, titles, charts and tables; 


- the Pandas `resample` method might be useful if you want to plot time trends;


- keep in mind that you are working with real data and sometimes, data are not very talkative. Do not feel discouraged if your charts do not provide revolutionary insights: typically, an absence of trend is a substantial piece of information!

Good luck in changing Boston residents' lives!

# A word of conclusion

Congratulations for going through the exercise üéâ

If you wish to pursue your analysis at some point, note that all datasets (and many others) are publicly available online, on the [Analyze Boston](https://data.boston.gov) website.

Besides, if you are interested in the topic, you can start by reading the work of Nobel Prize laureate Gary Becker, who was the first to model crime as a rational phenomenon, similarly to an economic decision. This model, although it has limitations, marked a breakthrough in the study of crime and paved the way for many empirical studies that further analysed the socio-economic determinants of illegal activities. 

üëâ [Link](https://olis.leg.state.or.us/liz/2017R1/Downloads/CommitteeMeetingDocument/125036) to download a full-text version of "Crime and Punishment: An Economic Approach" by Becker (1968)